*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    list-style: none;
}
header{
    background-color: #0020F4;
    width: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 280px;
}
nav,
nav ul,
nav li {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.navigation a{
    color: #ffffff;
}
.contact {
    background-color: #ffffff;
    padding: 10px 25px;
    color: #171717 !important;
    border-radius: 20px;
}
.mtavari::after{
    content: '';
    display: block;
    background-color: rgb(25, 26, 36);
    width: 50px;
    height: 1px;
    margin-top: 5px;
}
.set-main{
    margin-top: -100px;
}
.container-block{
    max-width: 1200px;
    margin: 0px auto;
}
.sec-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 70px;
    max-width: 1200px;
}
.block-img{
    width: 100%;
    margin-bottom: 45px;
}
.pharagraph{
    max-width: 900px;
    margin: 0px auto;
    margin-top: 50px;
}
.pharagraph > p{
    margin-bottom: 20px;
}
.info{
    display: flex;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border: none;
}
.info > a{
    background-color: #0A22F4;
    padding: 18px 50px;
    border-radius: 25px;
}
.but-on{
    color: #ffffff;
}
footer{
    background-color: #0020f4;
}
footer .contain{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    margin: 0px auto;
    padding-top: 150px;
    padding-bottom: 200px;
}
.cont-cont h1{
    color: #ffffff;
}
.cont-cont p{
    width: 450px;
    padding-top: 50px;
    padding-bottom: 70px;
    color: #ffffff;
}
iframe{
    border-radius: 20px;
}
.phone-mail{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 580px;
    justify-content: space-between;
}
.biuro{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
.biuro img{
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 35px;
}
.biuro a{
    font-size: 22px;
    color: #ffffff;
}
.forma form .user-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 100px;
    width: 300px;
}
label{
    margin-bottom: 15px;
    color: #ffffff;
}
.user-details input{
    border: none;
    background-color: #0020f4;
    border-bottom: 1px solid black;
    width: 300px;
    opacity: 0.5;
    margin-bottom: 30px;
}
.box-box label{
    margin-bottom: 80px;
}
.user-details button{
    margin-left: 110px;
}
.space{
    flex-wrap: wrap;
    background-color: #ffffff;
    border: none;
    padding: 15px 20px 15px 20px;
    border-radius: 25px;
    font-size: 15px;
    color: black;
}
.linear{
    background: linear-gradient(135deg, #608ead, #9b59b6);
    height: 1px;
    width: 1170px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 17px;
    opacity: 0.5;
}
.last-set{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1150px;
    margin: 0px auto;
    width: 100%;
    padding-bottom: 20px; 
    color: #ffffff;
    display: flex;
    align-items: center;
}
.last-set .last{
    display: flex;
    align-items: center;
    gap: 10px;
}

