*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    list-style: none;
}
header{
    background-color: #0020F4;
    width: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0px auto;
    align-items: center;
    padding: 30px 150px 280px 150px;
}
nav,
nav ul,
nav li {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.navigation a{
    color: #ffffff;
}
.contact {
    background-color: #ffffff;
    padding: 10px 25px;
    color: #171717 !important;
    border-radius: 20px;
}
.mtavari::after{
    content: '';
    display: block;
    background-color: rgb(25, 26, 36);
    width: 50px;
    height: 1px;
    margin-top: 5px;
}
.container-block{
    max-width: 1200px;
    margin: 0px auto;
    flex-wrap: wrap;
    margin-top: -200px;
}
.sec-list{
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-block{
    position: relative;
}
.container-block > img{
    width: 100%;
    display: block;
}
.container-block {
    position: absolute;
    width: 100%;
    top: 50%;
}
.pharagraph{
    margin-top: 50px;
}
.pharagraph p{
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0px auto;
    display: block;
    margin-bottom: 20px;
}
.info{
    margin-top: 70px;
    margin-bottom: 150px;
}

.mail{
    width: 20px;
}
